/* Created by: ZoiaB
* Created on: Apr 2023
* This CSS file defines the style for index.html
* ICS2O-Assign-04-HTML-DoughnutOrder
*/

body {
  width: 100%;
  margin: 10%;
  background-color: lightpink;
  padding-left:90px;
}

h1 {
  background-color: hsl(84deg 57% 84%);
  width: 60%;
}

p {
  margin-left: 30px;
  color: #75695c;
}

h4 {
  color: rgb(125 187 195);
  font-weight: bold;
}

th {
  font-size: 17px;
}

h1 {
  color: #998b7a;
}

iframe {
  padding: 30px;
  background-color: #998b7a;
  font-weight: bold;
  margin-top: 20px;
  width: 60%;
}
