/* Created by: ZoiaB
* Created on: Apr 2023
* This CSS file defines the style for index.html
* ICS2O-Assign-04-HTML-DoughnutOrder
*/

body {
  width: 80%;
  margin: 5% 10%;
  background-color: #F4B9B2;
  padding-left:90px
}

h1 {
  background-color: #DAEDBD;
}

p {
  margin-left: 30px;
  color: #75695c;
}

h4 {
  color: #7DBBC3;
  font-weight: bold;
}

th {
  font-size: 17px;
}

h1 {
  color: #998b7a;
}
